<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Student Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Servlet for handling student details</description>
    <display-name>StudentDetailsServlet</display-name>
    <servlet-name>StudentDetailsServlet</servlet-name>
    <servlet-class>controller.StudentDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetailsServlet</servlet-name>
    <url-pattern>/StudentDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletController</display-name>
    <servlet-name>ServletController</servlet-name>
    <servlet-class>ServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletController</servlet-name>
    <url-pattern>/ServletController</url-pattern>
  </servlet-mapping>
</web-app>